
<table border="1" id="entries">
<caption>{{page_title}}</caption>
<tr>
<th>ENTRY</th>

<th></th>
<th></th>
<th>USERS SHAREDWITH</th>
</tr>
{% for anentry in entries.object_list %}
<tr> 
<td> <a href="{{anentry.get_absolute_url }}" > {{anentry.description|truncatewords:2}}  </a> </td>

<td> <a href="{% url pomlog_edit_entry anentry.id %}"> EDIT </a> </td>
<td> <a href="{% url pomlog_delete_entry anentry.id %}"> DELETE </a> </td>

<td>  
{% for sh_user in anentry.sharedwith.all %}
{{ sh_user.username }}<a href="{% url pomlog_unshare_entry anentry.id sh_user.id %}" > unshare </a> <br/>
{%endfor %}

</td>
</tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}"> <img src="{{ MEDIA_URL }}img/prev-small.png" alt="{{"<<"}}"/> </a>
        {% endif %}

        <span class="current">
            Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
        </span>

        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}"><img src="{{ MEDIA_URL }}img/next-small.png" alt="{{">>"}}"/></a>
        {% endif %}
    </span>
</div>