{% extends "pomlogger/base_entries.html" %}
{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block content %}
{{block.super}}



{% if entries_sharedto_me %}
<div class="subtitle halfpagewide">
Following {{entries_sharedto_me|length}} Entr{{entries_sharedto_me|length|pluralize:"y is,ies are"}} shared to you
</div>
<div class="entry-list">
  {% for anentry in entries_sharedto_me %}
	<p class="entry-list-row">
		<span class="entry-name">
		<a href="{{anentry.get_absolute_url }}" > {{anentry.description|truncatewords:2}}  </a>
		</span>
		<span>created by {{anentry.author}}</span>
  {% endfor %}
</div>



{% else %}
<div class="noentries">
<h3> No entries shared to you  </h3>
</div>
{% endif %}

{% endblock %}


{% block whatis %}
<h4>shared entries</h4>
{% endblock %}