{% if entries.object_list %}
<div class = "entry-list short">

<div class="hstrip"></div>
	
	{% for anentry in entries.object_list %}
	<p id="entry-list-row">
       
	<span id="entry-name">
	<a href="{{anentry.get_absolute_url }}" > {{anentry.description|truncatewords:2}}  </a>
	</span>
	<span id="edit-entry">
	<a href="{% url pomlog_edit_entry anentry.id %}"> EDIT </a>
	</span>
	<span id="delete-entry">
	<a href="{% url pomlog_delete_entry anentry.id %}"> DELETE </a>
	</span>
	
	<span id="unshare-entry">
	{% for sh_user in anentry.sharedwith.all %}
	{{ sh_user.username }}<a href="{% url pomlog_unshare_entry anentry.id sh_user.id %}" > unshare </a> <br/>
	{%endfor %}
	</span>
	</p>
	{%endfor %}


</div>
<div class="pagination">
    <span class="step-links">
        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}"> <img src="{{ MEDIA_URL }}img/prev-small.png" alt="{{"<<"}}"/> </a>
        {% endif %}

        <span class="current">
            Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
        </span>

        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}"><img src="{{ MEDIA_URL }}img/next-small.png" alt="{{">>"}}"/></a>
        {% endif %}
    </span>
</div>
{% endif %}