{% extends "base_categories.html" %}
{% block title %}
{{block.super}}add category
{% endblock %}


{% block content %}
<p>today is :<b>{{now|date:"j F, Y" }} </p>
<h3> Welcome {{user.username}} </h3>

{% if errors %}
<p>
Error with these fields!Enter correct values
  	<ul>
	{% for k,v in errors.items %}
    		<li>{{k}} : {{v}}  </li>
	{% endfor %}
   	</ul> 
</p>
{% endif %}
<h2>add a Category:</h2>

<form method='post' action="{%url pomlog_add_category %}">
<table>
{{categoryform.as_table}}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}

{% block whatis %}
add category page
{% endblock %}
