{% extends "base_entries.html" %}

{% block title %}
{{block.super}}|{{year}} {{month}}
{% endblock %}


{% block content %}
{{block.super}}
<p>Today is :<b>{% now "Y b d" %}</p>

{% if object_list %}
<h3> total time spent on categories </h3>

<ul>
{% for k,v in entry_duration_dict.items %}
	<li>{{k}} = {{v}} minutes </li>
{% endfor %}
</ul>

<h3> {{page_title}} of {{month}} {{year}} </h3>
{% include "pomlogger/includes/entries_list.html" %}
{% else %}

<h3>No Entries in {{month}} {{year}} </h3> 
{% endif %}

{% endblock %}


{% block whatis %}
Time spent on {{entry_duration_dict.items|length}} categor{{ entry_duration_dict.items|length|pluralize:"y,ies"}} in {{year}}/ {{month}}
{% endblock %}
