{% extends "base_entries.html" %}

{% block title  %}
{{block.super}}|object
{% endblock %}

{% block content %}
{{block.super}}
<p>Today is :<b>{% now "Y b d" %}</p>

<h2>{{page_title}}</h2>
category    :{% for x in object.categories.all %}
                    {{x.name}}

                {% if forloop.last %}{% else %}, {% endif %} 
             {% endfor %}<br/>
date posted :{{object.today|date:"j F, Y"}} <br/>
start time  :{{ object.start_time}} <br/>
end time  :{{ object.end_time}}<br/>
Duration    :{{ duration}} minutes <br/>

{% if object.description %}
description :{{object.description}}
{% endif %}


{% endblock %}

{% block whatis %}
Details of the entry {{object}}
{% endblock %}
