{% extends "base_entries.html" %}

{% block title  %}
{{block.super}}|editentry
{% endblock %}

{% block content %}
{{block.super}}<br/>
today is :<b>{{now|date:"j F, Y" }}
<h3> Welcome {{user.username}} </h3>


{% if errors %}
<p>
Error!Enter correct values<br/>
   <ul>
{% for k,v in errors.items %}
    <li>{{k}} : {{v}}  </li>
{% endfor %}
   </ul> 
</p>
{% endif %}

<br/>


<h2>Edit Entry:</h2>

<form action="{%url pomlog_edit_entry entryform.instance.id  %}" method="post">
<table>
{{entryform.as_table }}
</table>
<table>
{{categoryform.as_table }}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}

{% block whatis %}
edit the entry page
{% endblock %}
