{% extends "registration/auth_base.html" %}
{% block content %}{{block.super}}


<div class="subtitle short">Register</div>

	   <div id="registerform">
        <form action="." method="POST">{% csrf_token %}
        {% if form.non_field_errors %}
           <div class="error"> {{ form.non_field_errors }}</div>
		{% endif %}
        <fieldset class="registerfields">            
            <p><label for="id_username">Username:</label> {{ form.username }}</p>
            {% if form.username.errors %}<span class="error">{{ form.username.errors }}</span>{% endif %}            
            <p><label for="id_email">EmailAddress:</label>{{ form.email }}</p>
            {% if form.email.errors %}<span class="error">{{ form.email.errors }}</span>{% endif %}
            <p><label for="id_password1">Password:</label>{{ form.password1 }}</p>
            {% if form.password1.errors %}<span class="error">{{ form.password1.errors }}</span>{% endif %}
            <p><label for="id_password2">Password(again):</label>{{ form.password2 }}</p>
            {% if form.id_password2.errors %}<span class="error">{{ form.id_password2.errors }}</span>{% endif %}
           
        <p>
            <input type="submit" value="Submit" class="submit"/>
        </p>
        </fieldset>
        
        </form>
		</div>
{% endblock %}

{% block whatis %}
{{page_title}} Register new user
{% endblock %}

