{% extends "pomlogger/base_entries.html" %}
{% block title %}{{block.super}}|{{ page_title }}{% endblock %}
{% block js %}
{{block.super}}
<script type="text/javascript"  src="{{MEDIA_URL}}js/jquery-1.7.1.min.js" ></script>
<script type="text/javascript"  src="{{MEDIA_URL}}js/pom_timer.js" ></script>
    

 {% endblock %}


{% block content %}


<p class="resetfloat"></p><br></br>



<form name="timeform" id="timeform" class="addentry" method="POST" action ="." >{% csrf_token %}
<span  id='start_time_show_always' class="time-display"></span>
<br><br>
	<span>
		<button type="button" name="timebtn" id="timebtn" value="start"  >
            <img src="{{ MEDIA_URL }}img/Play1.png" id="btnimg" align="middle" alt="start" >
        </button>    
	</span>
	<span id="ctimefld" >
            Time is:<span  id="currenttime" class="time-display"></span>
    </span>
    
     <div id="entrydata">
     	{% if entryform.non_field_errors %}
      		<p class="nonfielderror">{{ entryform.non_field_errors|join:", " }}</p>
  		{% endif %}
  		<div class="entry-details-input">
	  		<p>
	  			<label for="id_start_time"> <span id="timer-start"> Timer started at:</span></label>
	  			<span  id='start_time_show' class="time-display"></span>
	  		</p>
  			
  			<p>
  			   <label for="id_stop_time"> <span id="timer-stop"> Timer stopped at:</span></label>
  			   <span  id='stop_time_show' class="time-display"></span>
  			</p>
  			<p>
  			<label for="id_description"><span id="entry-description">Enter Description:</span></label>
  			{{entryform.description}}
  			</p>
  			
  			<p>
  			<label for="id_categories"><span id="entry-categories">Enter Categories:</span></label>
  			{{categoryform.categories}}
  			</p>
  			
  			<p>
  			<input type="submit" id="submitBtn" class="submit" value="Submit"/>
  			</p>
  		
  		</div>
  		<input type="hidden" name="timerstarted" id="timerstarted"/>
		<input type="hidden" name="timerstopped" id="timerstopped"/>
     
     </div>
    
    
</form>

{% endblock %}
{% block whatis %}
<h4>
{{page_title}} page
</h4>
{% endblock %}
