{% extends "pomlogger/base_entries.html" %}
{% block title %}{{block.super}}|{{ page_title }}{% endblock %}
{% block js %}
<script type="text/javascript">
    {% include "pomlogger/includes/jquery-1.4.2.js" %}
    {% include "pomlogger/includes/pom_timer.js" %}
</script>
 {% endblock %}


{% block content %}
Today is :<b>{% now "Y b d" %} </b>
<h3> Welcome {{user.username}} </h3>


<img src="{{ MEDIA_URL }}img/addentryanim2b.gif" alt="ADD NEW POMODORO ENTRY">

<form name="timeform" id="timeform" method="POST" action ="." >
<table >
<tr>
    <td>
        <button type="button" name="timebtn" id="timebtn" value="start"  >
            <img src="{{ MEDIA_URL }}img/Play1.png" id="btnimg" align="middle" alt="start" >
        </button>    
    </td>

    <td> <div id="ctimefld" style="display:none;">
            Time is:<span class="result" id="currenttime"></span>
         </div>
    </td>
</tr>
</table><div id="entrydata" style="display:none;">

  {% if entryform.non_field_errors %}
      <p class="nonfielderror">{{ entryform.non_field_errors|join:", " }}</p>
  {% endif %}
<p>
    <label for="id_start_time">timer started at:</label>
   
    
    <span  id='start_time_show'></span>
    
</p>
<p>
 <label for="id_stop_time">timer stopped at:</label>
 
  
  <span  id='stop_time_show'></span>
  
</p>
<p>
 <label for="id_categories">Enter description:</label>
 {{entryform.description}}
</p>

<p>
 <label for="id_categories">Enter Categories:</label>
{{categoryform.categories}}
</p>
<input type="hidden" name="timerstarted" id="timerstarted"/>
<input type="hidden" name="timerstopped" id="timerstopped"/>

<input type="submit" id="submitBtn" value="Submit"/>
</form>
</div>
</form>
{% endblock %}
{% block whatis %}
{{page_title}} page
{% endblock %}