{% extends "pomlogger/base_reports.html" %}
{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block content %}
{{block.super}}

{%if entrycount > 0 %}
<h3>ALL CATEGORIES</h3>  
<img src="{% url pomlog_render_categories_chart %}"
			
			alt="categories chart"
			width="700" height="700"
			/>



{% else %} 
<h3> You have not created any entry  yet</h3>

{% endif %}



{% endblock %}

{% block whatis %}
<p>
Chart of Time spent on {{sorteddurations|length}} categor{{ sorteddurations|length|pluralize:"y,ies"}} 
</p>
{% endblock %}