<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>PomLog{% block title %} {% endblock %}</title>
<LINK REL=StyleSheet HREF="{{MEDIA_URL}}css/newlook.css" TYPE="text/css" MEDIA="screen, print"/>
<LINK REL=StyleSheet HREF="{{MEDIA_URL}}css/fullcalendar.css" TYPE="text/css" MEDIA="screen, print"/>
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/pomodoro-icon.ico"/>

{% block js %} 
<script>
var M_URL = "{{MEDIA_URL}}";
</script>
{% endblock %}

</head>
<body{% block load_js %}{% endblock %}>


<span id="logo"> Pomodoro Logger</span>
<div class="hstrip"/>
<div id="content">
   {% block content %}
   
   <p class="subtitle">
   {% if user %}
   Welcome {{user.username}}
   {% endif %}
   </p>
   <p class="rightcorner">
   <span>{% now "jS  F Y - f A" %}
   <form id="logoutform" method="post" action="{% url pomlog_logout %}">{% csrf_token %}
   	<input type="hidden" name="next" value="{{next|escape}}" />
        <input type="hidden" name="confirm" value="true" />
        <input type="submit" value="Logout" id="logout-button"/>
   </form>
   </p>
   {% endblock %}
 </div>

<div id="sidebar"> 
<span class="sectionhead"> Navigation</span>

     <ul id ="main-nav">
	<li id="main-nav-entries">
	    <a href="{%url pomlog_entry_archive_index  %}"> Entries </a>
	</li>
	<li id="main-nav-categories">
	    <a href="{% url pomlog_category_list   %}"> Categories </a>
	</li>
	
	<li id="main-nav-categories">
        <a href="{% url pomlog_reports   %}"> Reports </a>
    </li>
    
     {% url home as home_url %}
     {% ifnotequal path  home_url %}
    
		<li id="main-nav-categories">
	        <a href="{{ home_url }}"> Home </a>
	    </li>
     </ul>
   	{% endifnotequal %}

</div>
<div>
<span class="sectionhead"> page info </span>
{% block whatis %}
{% endblock %}
</div>
</body>
</html>
