{% extends "pomlogger/base.html" %}
{% block js %}
{{block.super}}
<script type="text/javascript"  src="{{MEDIA_URL}}js/jquery-1.7.1.min.js" ></script> 
<script type="text/javascript"  src="{{MEDIA_URL}}js/fullcalendar.js" > </script>
<script type="text/javascript">
	
    $(document).ready(function() {
    	$('#calendar').fullCalendar({
        	events: {{entry_count|safe}}
        });
        
        
    });
</script>

 {% endblock %}

{% block content %}{{block.super}}

<p id="change-pass">
<a class="btnlink" href="{% url auth_password_change %}"><img src="{{ MEDIA_URL }}img/keysmall.png">Change your password</a>
</p>
<p id="reset-pass">
<a class="btnlink" href="{% url auth_password_reset %}"><img src="{{ MEDIA_URL }}img/keysmall.png">Forgot your password?</a>
</p>

<div id="calendarspace">
<div id='calendar'></div>
</div>

<div id="calendarspace">
<div id='calendar2'></div>
</div>


{% endblock %}
{%block whatis %}
<p>
Pomodoro App Home Page
</p>
{% endblock %}

