{% extends "pomlogger/base.html" %}
{% block js %}
{{block.super}}
<script type="text/javascript"  src="{{MEDIA_URL}}js/jquery-1.7.1.min.js" ></script> 
<script type="text/javascript"  src="{{MEDIA_URL}}js/fullcalendar.js" > </script>
<script type="text/javascript">
	
    $(document).ready(function() {
    	$('#calendar').fullCalendar({
        	events: {{entry_count|safe}}
        });
        
        
    });
</script>

 {% endblock %}

{% block content %}{{block.super}}
	 
<div id="calendarspace">
<div id='calendar'></div>
</div>



{% endblock %}
{%block whatis %}
<h4>Pomodoro App Home Page</h4>

{% endblock %}

