{% extends "pomlogger/base_categories.html" %}

{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}


{% block content %}{{block.super}}
Today is :<b>{% now "d b, Y" %}</b>
<h3> Welcome {{user.username}} </h3>


{% if cats|length_is:"0" %}
<h3>No categories created </h3><br/>
{% else %}

<h3>Categories are: </h3>
<table border="1" id="cats">
{% for k in cats %}
<tr>
<td> <a href="{{k.get_absolute_url}}" > {{k.name}}</a></td>

<td> <a href="{% url pomlog_edit_category k.slug %}" > EDIT </a>  </td>

</tr>
{% endfor %}
</table>

{% endif%}


{% endblock %}

{% block whatis %}
Listing of <b> {{cats|length}}</b> categor{{cats|length|pluralize:"y,ies" }} in this log
{% endblock %}
