{% extends "pomlogger/base_categories.html" %}

{% block title  %}
{{block.super}} | {{ page_title }} | {{ object.name }}
{% endblock %}

{% block content %}{{block.super}}

<br><br/>
<div class="cat-detail">
	<table >
	<caption>{{page_title}}</caption>
	<tr>  
	<th>Name </th> <td>{{ object.name}} </td>
	</tr>
	<tr>
	<th>Description </th> <td>{{object.description }} </td>
	</tr>
	</table>
</div>
{% if entries %}

<br><br/>
<span class="subtitle">ENTRIES IN THIS CATEGORY</span>
<br><br/>
{% include "pomlogger/includes/entries_list.html" %}
{% include "pomlogger/includes/time_on_categories.html" %}

{% else %}

<h3>No Entries in {{ object.name}} </h3> 
{% endif %}

{% endblock %}

{% block whatis %}
<p>
Details of the category {{object.name}} and {{category_duration_dict|length}} Entr{{category_duration_dict|length|pluralize:"y,ies" }} in it
</p>
{% endblock %}
