{% extends "pomlogger/base_categories.html" %}

{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}


{% block content %}{{block.super}}
<br>

{% if cats|length_is:"0" %}
<div class="noentries">
<h3>No categories created </h3>
</div>
<div class="new-entry-link">
<a href="{% url pomlog_add_entry %}"> 
<span class="caption">ADD NEW ENTRY</span>
</a>
</div>
{% else %}


<p class="subtitle halfpagewide"> categories </p>

<div class = "entry-list bottom-round-border">

	{% for k in cats %}
	  <p class="entry-list-row caption">
	   <a href="{{k.get_absolute_url}}" > {{k.name}}</a>
	   <span class="edit-entry">
	   	<a href="{% url pomlog_edit_category k.slug %}" > EDIT </a>
	   </span>
	  </p>
	 {% endfor %}
</div>

{% endif%}


{% endblock %}

{% block whatis %}
<h4>
Listing of <b> {{cats|length}}</b> categor{{cats|length|pluralize:"y,ies" }} in this log
</h4>
{% endblock %}
