{% extends "pomlogger/base_entries.html" %}

{% block title  %}
{{block.super}}|{{object}}
{% endblock %}

{% block content %}
{{block.super}}

<br><br/>

<div class="entry-details">
<p>
<label class="caption">Categories  :</label>
<span>
{% for x in object.categories.all %}
   {{x.name}}
   {% if forloop.last %}{% else %}, {% endif %} 
{% endfor %} 
</span>
</p>

<p >
<label class="caption">
Author  :
</label>
<span>
 {{object.author}} 
</span>
</p>


<p>
<label class="caption">
Date posted  :
</label>
<span>
 {{object.today|date:"j F, Y"}} 
</span>
</p>

<p>
<label class="caption">
Start time   :
</label>
<span>
 {{ object.start_time}}
</span>
</p>

<p>
<label class="caption">
End time   :
</label>
<span>
 {{ object.end_time}}
</span>
</p>

<p>
<label class="caption">
Duration   :
</label>
<span>
 {{ duration}} minutes
</span>
</p>

<p>
<label class="caption">
Difficulty   :
</label>
<span>
 {{ object.difficulty}} / 10
</span>
</p>

{% if object.description %}
	<p >
	<label class="caption">
	Description   :
	</label>
	<span>
	 {{object.description}}
	</span>
	</p>
{% endif %}

</div>
{% if user == object.author %}
<div id="modifybuttons">
	<span class="edit-entry" >
	<a href="{% url pomlog_edit_entry object.id %}"> EDIT </a>
	</span>

	<form  class="inline" method="post" action="{% url pomlog_delete_entry object.id %}" id="delete-entry-form" >
	{%csrf_token%}
	<input  type="submit" class="delete" value="DELETE" > </input>
	</form>
</div>
{% endif %}

{% endblock %}

{% block whatis %}
<p>
Details of the entry 
</p>
{% endblock %}
