{% extends "pomlogger/base_entries.html" %}

{% block title %}
{{block.super}}|{{year}} {{month}}
{% endblock %}


{% block content %}
{{block.super}}
Today is :<b>{% now "Y b d" %}</b>
<h3> Welcome {{user.username}} </h3>
{% if entries %}
{% include "pomlogger/includes/time_on_categories.html" %}

<h3> {{page_title}} of {{month}} {{year}} </h3>
{% include "pomlogger/includes/entries_list.html" %}
{% else %}

<h3>No Entries in {{month}} {{year}} </h3> 
{% endif %}

{% endblock %}


{% block whatis %}
Time spent on {{category_duration_dict.items|length}} categor{{ category_duration_dict.items|length|pluralize:"y,ies"}} in {{year}}/ {{month}}
{% endblock %}
