{% extends "pomlogger/base_entries.html" %}
{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block content %}
{{block.super}}
Today is :<b>{% now "Y b d" %}</b>
<h3> Welcome {{user.username}} </h3>
<p>
<a href="{% url pomlog_add_entry %}"><img src="{{ MEDIA_URL }}img/addentryanim2b.gif" alt="ADD NEW POMODORO ENTRY"> </a> 
</p>
{%if object_list %}

{% include "pomlogger/includes/time_on_categories.html" %}

{{page_title}}
{% include "pomlogger/includes/entries_list.html" %}
<br/>
<p>
<a href="{% url pomlog_share_entries  %}">Share</a>
</p>

{% else %}
<h3> You have not created any entry  yet</h3>
{% endif %}

{% if entries_sharedto_me %}
<h3>Other Peoples' Entries shared to me </h3>
<br/>
{% include "pomlogger/includes/entries_shared.html" %}

{% else %}
<h3> No entries shared to you  </h3>
{% endif %}

{% endblock %}


{% block whatis %}
<p>Listing of all Entries &
Time spent on {{entry_duration_dict.items|length}} categor{{ entry_duration_dict.items|length|pluralize:"y,ies"}} till now 
</p>
{% endblock %}

