{% extends "pomlogger/base_entries.html" %}
{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block content %}
{{block.super}}



<a href="{% url pomlog_add_entry %}"> 
<span class="sectionhead left">ADD NEW ENTRY</span>
</a>
<p class="resetfloat"></p>


{% if entries.object_list %}

{% include "pomlogger/includes/time_on_categories.html" %}

<br>


{% include "pomlogger/includes/entries_list.html" %}

<div class="hstrip"></div>
<p class="sharelink">
<a class="btnlink" href="{% url pomlog_share_entries  %}">Share Entries to Others</a>
</p>
<p class="resetfloat"></p>
{% else %}
<div class="noentries">
<h3> You have not created any entry  yet</h3>
</div>
{% endif %}


<p class="sharelink">
<a class="btnlink" id="view_shared_entries" href="{% url pomlog_entries_shared %}">View Entries Shared To Me</a>
</p>
<p class="resetfloat"></p>

{% endblock %}


{% block whatis %}
<h4>Listing of all Entries &
Time spent on {{sorteddurations|length}} categor{{ sorteddurations|length|pluralize:"y,ies"}} till now 
</h4>
{% endblock %}

