{% extends "base_entries.html" %}

{% block title %}
{{block.super}}|{{year}} {{month}} {{day}}
{% endblock %}


{% block content %}
{{block.super}}
Today is :<b>{% now "Y b d" %}</b>
<h3> Welcome {{user.username}} </h3>
{% if object_list %}
<h3> total time spent on categories </h3>

<ul>
{% for k,v in entry_duration_dict.items %}
	<li>{{k}} = {{v}} minutes </li>
{% endfor %}
</ul>

<h3> {{page_title}} of {{day}} {{month}} {{year}} </h3>
{% include "pomlogger/includes/entries_list.html" %}
{% else %}

<h3>No Entries on {{day}} {{month}} {{year}} </h3> 
{% endif %}

{% endblock %}


{% block whatis %}
Time spent on {{entry_duration_dict.items|length}} categor{{ entry_duration_dict.items|length|pluralize:"y,ies"}} on {{year}}/{{month}}/{{day}}
{% endblock %}
