{% extends "pomlogger/base_entries.html" %}

{% block title %}
{{block.super}}|{{year}} {{month}}
{% endblock %}


{% block content %}
{{block.super}}

{% if entries.object_list %}
{% include "pomlogger/includes/time_on_categories.html" %}

<h3 class="caption"> {{page_title}} of : {{month}} {{year}} </h3>
{% include "pomlogger/includes/entries_list.html" %}
{% else %}
<div id="noentries" class="caption">
<h3>No Entries in {{month}} {{year}} </h3> 
</div>
{% endif %}

{% endblock %}


{% block whatis %}
<h4>
Time spent on {{sorteddurations|length}} categor{{ sorteddurations|length|pluralize:"y,ies"}} in {{year}} {{month}}
</h4>
{% endblock %}
