{% extends "pomlogger/base_reports.html" %}
{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block content %}
{{block.super}}

{%if entrycount > 0 %}
<p class="subtitle halfpagewide">Entries for {{day}}-{{month}}-{{year}} </p>
<div class="chart-entries-day">
<img class="chart-entries-day" src="{% url pomlog_render_graph_for_day year month day%}"
			
			alt="chart for a day"
			/>

</div>
{% else %} 
<div class="noentries">
<h3> You have not created any entry  yet</h3>
</div>
<div class="new-entry-link">
<a href="{% url pomlog_add_entry %}"> 
<span class="caption">ADD NEW ENTRY</span>
</a>
</div>
<p class="resetfloat"></p>
{% endif %}

{% endblock %}


{% block whatis %}
<p>
Bar Plot of Entries for:  {{day}}-{{month}}-{{year}} 
</p>
{% endblock %}