{% extends "pomlogger/base_reports.html" %}
{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block content %}
{{block.super}}

<div id="reports">
<ul id ="entriesplots" class="report">
    
    <li id="entriesplots_list" class="report">
        <a class ="button" href="{% url pomlog_allcategories_report   %}"> All Categories Plot </a>
    </li>
    
    <li id="dailyentriesplots_list" class="report">
    <form class="reports" action="." >
    <span>
        <select name="year" id="yearselect">
            {% for anyear in years %}
                <option  value={{anyear}} > {{anyear}}</option>
            {% endfor %}
        </select>
        
        <select name="month" id="monthselect">
            {% for amonth in months %}
                <option  value={{amonth}} > {{amonth}}</option>
            {% endfor %}
        </select>
        
        <select name="day" id="dayselect">
            {% for aday in days %}
                <option  value={{aday|stringformat:"02d"}} > {{aday}}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Plot for entries of the day" class="button"/>
        </span>
       </form>
    </li>
     
</ul>

</div>


{% endblock %}

{% block whatis %}
<p>
Links to various Plots 
</p>
{% endblock %}