{% extends "pomlogger/base_entries.html" %}

{% block title %}
{{block.super}}|{{page_title}}
{% endblock %}

{% block js %}
<script type="text/javascript"  src="{{MEDIA_URL}}js/share_entries.js" ></script>
{% endblock %}
{% block content %}
{{block.super}}



<div id="shareform">
<FORM class="share" action="." method="POST">{% csrf_token %}
<h3>Share</h3>
	<p id="share-allentries">
	<INPUT TYPE="radio" NAME="sharing_options" VALUE= "allentries" onclick="hideAll();" >All Entries 
	</p>
	<p id="share-selectedentries">
	<INPUT TYPE="radio" NAME="sharing_options" VALUE= "selectedentries"  onclick="showEntriesList();" >Select from Entries
	</p>
	<p id="share-entriesofcat">
	<INPUT TYPE="radio" NAME="sharing_options" VALUE= "entriesofcat" onclick="showCategories();" >Entries with Category
	</p>
	
	
	<div id="some_entries_selected">
	<table>
	{{sharemyentryform.entries_selected}}
	</table>
	</div>
	
	
	
	<div id="categories_selected">
	<table>
	{{sharemyentryform.categories_selected}}
	</table>
	</div>

	
	<div id="users_selected">
	<h3>With Users</h3>
	<table>
	{{sharemyentryform.users_selected}}
	</table>
	<INPUT type="submit" value="Share">
	</div>
	

</FORM>
</div>
{% endblock %}




{% block whatis %}
<p>
page for sharing entries with other users
</p>
{% endblock %}
