<html>
<head> <title>500 </title>
<LINK REL=StyleSheet HREF="{{MEDIA_URL}}css/newlook.css" TYPE="text/css" MEDIA="screen, print"/>
 </head>
<body>
{% url home as home_url %}
<span id="logo"> Pomodoro Logger</span>
<div class="hstrip"/>
<div class="server-error">
<p class="error-title">sorry..server error!</p>

<a href="{{ home_url }}"> <img src="{{ MEDIA_URL }}img/500Err.jpg"> </a>
</div>

<div id="sidebar"> 
<span class="sectionhead"> Navigation</span>

     <ul id ="main-nav">
	<li id="main-nav-entries">
	    <a href="{%url pomlog_entry_archive_index  %}"> Entries </a>
	</li>
	<li id="main-nav-categories">
	    <a href="{% url pomlog_category_list   %}"> Categories </a>
	</li>
	
	<li id="main-nav-reports">
        <a href="{% url pomlog_reports   %}"> Reports </a>
    </li>
	<li id="main-nav-home">
        <a href="{{ home_url }}"> Home </a>
    </li>
    </ul>

</div>
</body>

</html>
