@CHARSET "UTF-8";
body{
    font-family: georgia;
    background-color:#E3E0D1;
}

h2{
    color: blue;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    }

h3{
    color :green;
    font-family: courier;
}

h4{
    
    color :red;
    font-family: courier;
}


img.centerpage {
     display: block;
    margin-left: auto;
    margin-right: auto
    
}
#header h2 {
    font-style: italic;
    text-align: center;
    
    padding: .2em;
    margin: 0em;
    
    vertical-align: middle;
   
}

#content{
   
    text-align:center;
}

#sidebar{
	width:40%;
}

ul.report{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li.report{
    background-image:url("../img/pentranspsmall.png");
    background-position:0.1em 50%;
    background-repeat:no-repeat;
    padding-left:2.2em;
    line-height:220%;
}



.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
}


/** modified **/
.subtitle {
	clear:both;
    background: #6A942F;
	background: -moz-linear-gradient(top, #A1E048, #6A942F);
	background: -ms-linear-gradient(top, #A1E048, #6A942F);
	background: -o-linear-gradient(top, #A1E048, #6A942F);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1E048), to(#6A942F));
	background: -moz-linear-gradient(linear, 0% 0%, 0% 100%, from(#A1E048), to(#6A942F));
	background: -webkit-linear-gradient(top, #A1E048, #6A942F);
	background: linear-gradient(top, #A1E048, #6A942F);
	padding: 10px 20px;
	color:white;
	margin:auto;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: .2em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.hstrip{


	height: 1px;
	border-style: solid;
	border-color: white;
	background-color:white;
    clear:both;
}

hr#strip{
	color:blue;
 	border:none;
 	height:3px;

}

.short{
	width:47%;

}
.rightcorner{
	float:right;

}

.leftfloat{
	float:left;
}
.errortext{
	color:red;
}

ul.errorlist{
	color:red;
}

#error_message {
    border: 2px solid #FAAFBE;
    margin: auto;
    padding: 0.5em;
    color: #fff;
    width: 25em;
    font-weight: bold;
    background: #FAAFBE;
}
#message {
    border: 2px solid #73C553;
    padding: 0.5em;
    margin:auto;
    color: #fff;
    
    font-weight: bold;
    background: #73C553;
}

div#loginform{
	margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    min-width:300px;
    text-align:center;
    width:50%;
}
div#registerform,#passchangeform,#resetpassform{
	margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    min-width:400px;
    width:50%;
}
fieldset.login,.registerfields,.passchangefields,.resetpassfields {
    background: #d9d7c7 ;
    
    float: center;
    border: 5px solid white;
    padding-top: 0.5em;
}


label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
}

a {
	text-decoration:none;
}
.white{
	color:white;
}

a.btnlink{
	clear:both;
	border: 2px outset;
  	padding: 10px;
  	display:block;
  	text-decoration: none;
  	border-color : white white white #A1E048;
}

.center{
	text-align:center;
}
.maintitle{

}

#logo{
	display: block;
    height: 49px;
    margin-left: 20px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

.sectionhead{
	display: block;
    height: 31px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 1px 2px 2px #000;
}

#welcome{
	font-size: 30px;

}
div#category-duration{
	clear:both;
	margin:auto;
	text-align:center;
}
.duration-list,.shared{
	clear:both;
	text-align:center;
	margin:auto;
	overflow:auto;
	font-weight:bold;
	background-color:#D8D8D8;
	background: -moz-linear-gradient(right, #D8D8D8, #E3E0D1);
	background: -webkit-linear-gradient(right, #D8D8D8, #E3E0D1);
}
.duration-list{
	width:50%;
	height:7em;
}
.shared{
	width:100%;
	height:10em;

}
p#change-pass,#reset-pass,#sharelink{
	width:15em;
	margin-top:.5em;
	margin-bottom:.5em;
}

.entry-list{
	clear:both;
	margin:auto;
	text-align:center;
	background: -moz-linear-gradient(top, #D8D8D8, #E3E0D1);
	background: -webkit-linear-gradient(top, #D8D8D8, #E3E0D1);
}

span#entry-name{
	background-color:#BDBDBD;
	margin-right:1.5em;
}
span#edit-entry{
	background-color:#E6F8E0;
	margin-right:1em;
}

input#logout-button,#entry-delete-button{
	background-color:#F8E6E0;
	border-radius:4px;
}

span#delete-entry{
	background-color:#F8E6E0;

	margin-right:1em;
}
p#entry-list-row{

	text-align:left;
	border-style:solid;
	border-color:#BDBDBD;
	display:block;
}

div .pagination{
	background: transparent;
}

span .step-links{

}
span .current{
	background-color: #D8D8D8;
  	font-weight: bold;
  	color: #000;
}

div .shared{
	clear:both;
}
/**
table .shared-entries{
	
	
}
**/
table {
    border: 1px solid #aaa;
    border-right: none;
    border-bottom: 5px solid white;
    padding: 0;
    border-spacing: 0;
    margin: auto;
    width: auto;
    font-size: 0.95em;
    
}
caption{
	font-weight: bold;
	background: #BDBDBD;
}
thead { background: #D8D8D8; }

tr.even { background-color: #D8D8D8; }
tr.odd  { background-color: #E3E0D1;}
td,th {
    padding: 0.25em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border: 1px solid #aaa;
    min-width: 2.75em;
}
td,tr{
	text-align:left;
}
th { 
	border-top: none;
    background: #BDBDBD;
	border-left: none;
}
p#share-allentries,#share-selectedentries,#share-entriesofcat{
	width:10em;
	background: #BDBDBD;
	text-align:left;
}
div#shareform{
	clear:both;
	text-align:center;
}

div#some_entries_selected{
	display:none;
}
div#categories_selected{
	display:none;
}
div#users_selected{
	display:none;
}
div#noentries{
	clear:both;
}
form{
	clear:both;
}
.share{
	background: linear-gradient(top, #fff, #f8f8f8);
	border: none;
	border-bottom: 3px solid white;
	border-radius: 4px;
	margin: auto;
	padding: 20px;
	width: 212px;
}

.error-title{
	clear:both;
    background: #F6CECE;
	background: -moz-linear-gradient(top, #DF0101, #F6CECE);
	background: -ms-linear-gradient(top, #DF0101, #F6CECE);
	background: -o-linear-gradient(top, #DF0101, #F6CECE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DF0101), to(#F6CECE));
	background: -moz-linear-gradient(linear, 0% 0%, 0% 100%, from(#DF0101), to(#F6CECE));
	background: -webkit-linear-gradient(top, #DF0101, #F6CECE);
	background: linear-gradient(top, #DF0101, #F6CECE);
	padding: 10px 20px;
	color:white;
	margin:auto;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: .2em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.server-error{
	text-align:center;
}

span#start_time_show_always,#currenttime{
	background:#BDBDBD;
	border: 1px white;
	border-bottom: 2px solid white;
	border-radius: 4px;

}
form#timeform{
	width:70%;
	margin:auto;
}
span#ctimefld{
	display:none;
}
div#entrydata{
	display:none;
}
p#p_start_time label{
	margin:auto;
	text-align:center;
}

table#entry-details{
	border: 0px ;

	border-top: 5px solid white;
	border-radius: 4px;
}
table#entry-details tr,td{
	border: 0px ;
	border-bottom: 2px solid white;

}
div#reports{
	clear:both;
	width:30em;
	margin:auto;
	text-margin:center;
}

form#logoutform{
	width:10%;
	float:right;
}

form#delete-entry-form{
	text-align:center;
}